.btn-warning{
	width: 100%;
}

.btn-success{
	width: 130px;
	height: 60px;
}

.add{
	background-color: white !important;
	color: black !important;
	border: 1px solid black;
}

.btn-primary{
	background-color: blue !important;
	
}



